<h1>Book collection</h1>
<f:if condition="{tag}">
	<f:then>
		<p>The collection contains {books -> f:count()} books tagged &quot;<strong>{tag.name}</strong>&quot;</p>
	</f:then>
	<f:else>
		<p>The collection contains {books -> f:count()} books:</p>
	</f:else>
</f:if>
<f:widget.paginate objects="{books}" as="paginatedBooks" configuration="{itemsPerPage: 5}">
	<ul>
		<f:for each="{paginatedBooks}" as="book">
			<li>
				<f:link.action action="show" arguments="{book: book}">
					{book.title}
				</f:link.action>
			</li>
		</f:for>
	</ul>
</f:widget.paginate>